.column {
  width: 200px;
  float: left;
  border: 4px solid black;
  padding: 4px;
  margin: 12px;
  background-color: teal;
  display: block;
}
.column p{
  font-size: 30px;
}
img {
  height: 150px;
  width: 150px;
}
.care a {
  font-style: italic;
}
